In [2]:
x=int(input('enter the first number '))
y=int(input('enter the second number '))

enter the first number 5
enter the second number 8

In [3]:
10000*5*8/100

4000.0

In [8]:
P=int(input('enter the principal amount:'))
N=int(input('enter the no of years:'))
R=int(input('enter the rate:'))
I=P*N*R/100
T=P+I
print('interst amount:',I)
print('Total amount',T)

enter the principal amount:10000
enter the no of years:5
enter the rate:8
interst amount: 4000.0
Total amount 14000.0

In [9]:
x=int(input('enter your mark'))
if x>=50:
  print('pass')
if x<50:
  print('fail')

enter your mark56
pass

In [10]:
S=int(input('enter the salary'))
if S>=250000:
  print('you are taxable')
if S<250000:
  print('you are not taxable')

enter the salary200000
you are not taxable

In [12]:
S=int(input('enter the salary'))
if S>=250000:
  print('you are taxable')
  T=print('Tax amount',S*10/100)
if S<250000:
  print('you are not taxable')

enter the salary500000
you are taxable
Tax amount 50000.0

In [14]:
S=int(input('enter the salary'))
x=250000
if S>=250000:
  print('you are taxable')
  T=print('Tax amount',(S-x)*10/100)
if S<250000:
  print('you are not taxable')

enter the salary300000
you are taxable
Tax amount 5000.0

In [19]:
S=int(input('enter the salary'))
x=250000
if S>=250000 and S<500000:
  print('taxable')
  T=print('Tax amount',(S-x)*10/100)
if S>500000:
  print('taxable')
  T=print('tax amount',(S-x)*20/100)
if S<250000:
  print('you are not taxable')

enter the salary600000
taxable
tax amount 70000.0