<a href="https://colab.research.google.com/github/Simpaulks/BA-with-python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_excel('HRDataset_v14.xlsx')

In [2]:
df.Position.count()

311

In [11]:
df.loc[df['Position']=='Production Technician I'].EmpID.count()

137

In [12]:
df.loc[df['Gender']=='Male'].EmpID.count()

193

In [14]:
df.loc[df['ManagerName']=='Michael Albert'].Employee_Name

0         Adinolfi, Wilson  K
14              Barton, Nader
23             Blount, Dianna
41           Chace, Beatrice
58          Crimmings,   Jean
83             Erilus, Angela
84          Estremera, Miguel
102           Gentry, Mildred
122       Handschiegl, Joanne
129    Homberger, Adrienne  J
143           Johnson, George
148           Keatts, Kramer
168         Linares, Marilyn
171              Lundy, Susan
186        Medeiros, Jennifer
195         Moumanil, Maliki
209             Owad, Clinton
229            Rarrick, Quinn
247             Sadki, Nore
256          Sloan, Constance
272         Sullivan, Timothy
294      Von Massenbach, Anna
Name: Employee_Name, dtype: object

In [15]:
df.loc[df['EmploymentStatus']=='Active'].Employee_Name

0      Adinolfi, Wilson  K
3             Alagbe,Trina
5        Anderson, Linda
6          Andreola, Colby
7              Athwal, Sam
              ...
305          Wolk, Hang  T
306         Woodson, Jason
308       Zamora, Jennifer
309            Zhou, Julia
310          Zima, Colleen
Name: Employee_Name, Length: 207, dtype: object

In [17]:
df.loc[(df['EmploymentStatus']=='Active') & (df['MaritalDesc']=='Married')].Employee_Name

3           Alagbe,Trina
16      Beak, Kimberly
22         Billis, Helen
26     Boutwell, Bonalyn
29            Brown, Mia
             ...
271     Sullivan, Kissy
272    Sullivan, Timothy
275         Tannen, Biff
287        Turpin, Jumil
288      Valentin,Jackie
Name: Employee_Name, Length: 77, dtype: object

In [18]:
df.loc[(df['EmploymentStatus']=='Active') & (df['Salary']<60000)].Employee_Name

5         Anderson, Linda
7               Athwal, Sam
8          Bachiochi, Linda
9        Bacong, Alejandro
13     Barone, Francesco  A
               ...
278        Terry, Sharlene
281       Tippett, Jeanette
288         Valentin,Jackie
291        Villanueva, Noah
310           Zima, Colleen
Name: Employee_Name, Length: 72, dtype: object

In [22]:
df.loc[(df['Position']=='Production Technician II') & (df['EngagementSurvey']==df['EngagementSurvey'].max())].Employee_Name

123      Hankard, Earnest
127    Hendrickson, Trina
177     Manchester, Robyn
178        Mancuso, Karen
182       Carthy, B'rigit
206       Oliver, Brooke
304    Winthrop, Jordan
Name: Employee_Name, dtype: object

In [21]:
df.loc[df['Salary']==df['Salary'].max()].Employee_Name

150    King, Janet
Name: Employee_Name, dtype: object

In [24]:
df.loc[df['Salary']<df["Salary"].mean()].Employee_Name

0        Adinolfi, Wilson  K
2          Akinkuolie, Sarah
3               Alagbe,Trina
4           Anderson, Carol
5          Anderson, Linda
               ...
303    Williams, Jacquelyn
305            Wolk, Hang  T
306           Woodson, Jason
307       Ybarra, Catherine
310            Zima, Colleen
Name: Employee_Name, Length: 221, dtype: object

In [25]:
df.loc[(df['Salary']<df["Salary"].mean()) & (df['EmpSatisfaction']==df['EmpSatisfaction'].min())].Employee_Name

72    Dietrich, Jenna
83       Erilus, Angela
Name: Employee_Name, dtype: object