<a href="https://colab.research.google.com/github/Simpaulks/BA-with-python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def simpaul():
  print('india is my country')

In [2]:
simpaul()

india is my country

In [3]:
def paru():
  print("your roll no is ",10)

In [4]:
paru()

your roll no is  10

In [7]:
def christi(x):
  print("your roll number is",x)

In [8]:
x=int(input('enter your roll no'))
christi(x)

enter your roll no56
your roll number is 56

In [12]:
def christi(c,x,y,z):
  print('name:',c)
  print("your roll number is",x)
  print("place:",y)
  print("email:",z)

In [15]:
c=input("enter the name:")
x=int(input('enter the roll no:'))
y=input('enter the place:')
z=input('enter the email id:')
christi(c,x,y,z)

enter the name:simpaul
enter the roll no:69
enter the place:ekm
enter the email id:simpaulks@gmail.com
name: simpaul
your roll number is 69
place: ekm
email: simpaulks@gmail.com

In [19]:
def first(y):
  print("first name",y[0])

In [20]:
def second(y):
  print("second name",y[1])

In [23]:
x=input("enter the full name:")
y=x.split(" ")
first(y)
second(y)

enter the full name:simpaul simon
first name simpaul
second name simon

In [33]:
a=int(input('enter a number:'))
b=int(input('enter a number:'))
print("before swaping a:",a,"b:",b)
a,b=b,a
print("after swaping a:",a,"b:",b)

enter a number:6
enter a number:9
before swaping a: 6 b: 9
after swaping a: 9 b: 6

In [38]:
a=input('enter a number:')
b=input('enter a number:')
print("before swaping",a+b)
a,b=b,a
print("after swaping",a+b)

enter a number:6
enter a number:9
before swaping 69
after swaping 96

In [44]:
number=int(input('enter a number:'))
reversed_number = 0

while number != 0:
    digit = number % 10
    reversed_number = reversed_number * 10 + digit
    number //= 10
    
print(reversed_number)

enter a number:69
96