<a href="https://colab.research.google.com/github/Simpaulks/BA-with-python/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("he \n Doctor")

he
 Doctor

In [2]:
print("Simpaul \n KS")

Simpaul
 KS

In [8]:
x=["John","Mary","David","Adam"]
n=input('Enter a name:')
y=int(input('Enter index no:'))
x.insert(y,n)
print(x)

Enter a name:Aitken
Enter index no:3
['John', 'Mary', 'David', 'Aitken', 'Adam']

In [9]:
def tia():
  y=int(input('Enter Index'))
  n=input('Enter a Name')
  x.insert(y,n)

In [10]:
tia()

Enter Index2
Enter a Namehyzam

In [11]:
x

['John', 'Mary', 'hyzam', 'David', 'Aitken', 'Adam']

In [14]:
def maths():
  x=int(input("Enter number"))
  y=int(input('enter number'))
  print(x+y)
  print(x-y)
  print(x/y)
  print(x*y)

In [15]:
maths()

Enter number3
enter number6
9
-3
0.5
18

In [16]:
def maths(a,b):
  print(a+b)

In [17]:
x=int(input('Enter the first value'))
y=int(input('Enter the second value'))
maths(x,y)

Enter the first value22
Enter the second value15
37

In [18]:
def maths(a,b):
  print(a*b)

In [19]:
x=int(input('Enter the first value'))
y=int(input('Enter the second value'))
maths(x,y)

Enter the first value22
Enter the second value52
1144